[submodule "Python-Module-00"]
	path = Python-Module-00
	url = git@github.com:Juan-aga/Python-Module-00.git
[submodule "arachnida"]
	path = arachnida
	url = git@github.com:Juan-aga/arachnida.git
[submodule "ft_onion"]
	path = ft_onion
	url = git@github.com:Juan-aga/ft_onion.git
[submodule "ft_otp"]
	path = ft_otp
	url = git@github.com:Juan-aga/ft_otp.git
[submodule "coRSAir"]
	path = coRSAir
	url = git@github.com:Juan-aga/coRSAir.git
[submodule "ft_blockchain"]
	path = ft_blockchain
	url = git@github.com:Juan-aga/ft_blockchain.git
[submodule "stockholm"]
	path = stockholm
	url = git@github.com:Juan-aga/stockholm.git
